html{
	box-sizing: border-box;
}
body {
	background-color: #4d4d4d;
	text-align: left;
}
h1,h2,h3,h4,p {
    padding-left: 50px;
}
h1 {
	font-family: 'Changa', sans-serif;
	font-size: 35px;
	letter-spacing: 1.5px;
	color: darkgrey;
}
h2,h3,h4,p {
    font-family: 'Titillium Web', sans-serif;
}
h2 {
    font-size: 22px;
}
h3{
    line-height: 10px;
    color: #4d4d4d;
    font-weight: lighter;
    font-size: 15px;
}
h4 {
    padding-top: 10px;
    padding-left: 0;
}
header {
	font-family: 'Titillium Web', sans-serif;
	padding: 0px;
	position: relative;
	color: white;
	font-size:18px;
}

a{ 
	color: white; 
}

a:hover {	
	/*text-decoration: none;*/
}

ul {
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #d966ff;
}

li {
    	float: left;
}

li a, .dropbtn {
    	display: inline-block;
    	color: white;
    	text-align: center;
    	padding: 12px 16px;
    	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    	text-shadow: 2px 2px grey;
}

li.dropdown {
    	display: inline-block;
}

.dropdown-content {
    	display: none;
    	position: absolute;
    	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1;
}

.dropdown-content a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
    	text-align: left;
}

.dropdown-content a:hover {
    	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    	display: block;
}

.des-img {
	width: 400px;
	border-radius: 50%;
	float: right;
	margin-right: 100px;
    margin-top: 100px;
    box-shadow: 0 0 6px 8px #e6e6e6;
}
.description {
    background-color: white;
    box-shadow: 0 0 6px 8px #404040;
    padding: 1px;
}
